.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    border-bottom: 1px solid #dddddd;
  }
  
  .titulo{
    font-size: 25px;
    color: salmon;
    margin: 20px;
  }
  
  .Option,.ActiveOption {
    background-color: #eeeeee;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 8px;
    color: black;
    
  }
  .Option:hover,.ActiveOption:hover {
    border: 1px solid salmon;
    color: salmon;
  }
  
  .CartWidget {
    width: 40px;
    height: 40px;
  }