nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    border-bottom: 1px solid #dddddd;
  }
  
  .titulo{
    font-size: 30px;
  }
  button {
    background-color: #eeeeee;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .CartWidget {
    width: 40px;
    height: 40px;
  }